{% extends "base.html" %}
{% block content %}
        <h1>Calculator</h1>
        <form action="" method="post" name="calculator">
          {{ form.hidden_tag() }}

    {{ form.number1(class_='form-control') }}
    {% for error in form.number1.errors %}
     <div class="alert alert-danger" role="alert">
        [{{ error }}]
     </div>
    {% endfor %}
    {{ form.number2(class_='form-control') }}
    {% for error in form.number2.errors %}
    <div class="alert alert-danger" role="alert">
      [{{ error }}]
    </div>
    {% endfor %}
    <p><input type="submit" value="Calculate"></p>
        </form>
        {% endblock %}
<div class="container-fluid">
  <div class="row">
    <div class="col-4"></div>
      <div class="col-3">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">
                 {{ message }}
            </div>
            {% endfor %}

          {% endif %}
        {% endwith %}
      </div>
    </div>
  </div>
