{% extends "base.html" %}
 {% block content %}
 <!-- Form messages for when data is not entered -->
  {% with messages = get_flashed_messages() %}
   {% if messages %}
    <ul>
     {% for message in messages %}
       <li>{{ message }} </li>
     {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Enter Assessment Details</h1>
<!-- Form for adding new assessments, complete with a submit button -->
<form action="" method="post" name="new">
    {{ form.hidden_tag() }}
    <p>
       Title: {{ form.title }}<br>
    </p>
    <p>
       Course Code: {{ form.code }}<br>
    </p>
    <p>
        Deadline date: {{ form.dueDate }}<br>
    </p>
    <p>
        Description: {{ form.description }}<br>
    </p>
    <p>Completed: {{ form.completed }}</p>
    <p><input type="submit" value="Submit"></p>
</form>
{% endblock %}