{% extends "base.html" %}
{% block content %}
<h1 lang="en">Enter Assessment Details</h1>
<!-- Form for adding new assessments, complete with a submit button -->
<form lang="en" action="" method="post" name="new">
    {{ form.hidden_tag() }}
    <p lang="en">
       Title: {{ form.title }}<br>
    </p>
    <p lang="en">
       Course Code: {{ form.code }}<br>
    </p>
    <p lang="en">
        Deadline date: {{ form.dueDate }}<br>
    </p>
    <p lang="en"> 
        Description: {{ form.description }}<br>
    </p>
    <p lang="en">Completed: {{ form.completed }}</p>
    <p lang="en"><input class="button" type="submit" value="Submit"></p>
</form>
{% endblock %}