{% extends "base.html" %}
{% block content %}
{% if valid == false %}
    <h1 lang="en" class="center">Pick an assessment to change</h1>
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <table lang="en">
                <tr>
                    <th>Assessment ID</th>
                    <th>Assessment Ttitle</th>
                    <th>Assessment ID</th>
                    <th>Assessment Ttitle</th>
                    <th>Assessment ID</th>
                    <th>Assessment Ttitle</th>
                </tr>
                <tr>
                    {% for a in assessments %}
                        <td>{{ a.id }}</td>
                        <td>{{ a.title }}</td>
                        {% if a.id%3 == 0 %}
                            <!-- The id's are always sequential, this creates a new row every 3 assessments -->
                            </tr>
                            <tr>
                        {% endif %}
                    {% endfor %}
                </tr>      
            </table>
    </div>
    <div class="col-11"></div>
    </div>
    <br>
    <!-- Takes an integer assessment id 
    becomes hidden once validated -->
    <form lang="en" action="" method="post" name="new">
        {{ ChooseForm.hidden_tag() }}
        <p lang="en">
            Assessment number {{ ChooseForm.chooseAssessment }}
            <input class="button" type="submit" value="Submit">
        </p>
    </form>
{% endif %}
<!-- Hides the second part of the form unless a valid id is entered -->
{% if valid == true %}
    <h1 lang="en">Make your changes and click submit</h1>
    <form lang="en" action="" method="post" name="new">
        {{ EditForm.hidden_tag() }}
        <!-- hidden field allowing the chosen assessment to be edited -->
        <div class=""hidden>
            {{ EditForm.hidden(value=chosenAssessment.id)}}
        </div>
        <p lang="en">Enter new details into the corresponding fields</p>
        <p lang="en">
            Title: {{ EditForm.title(value=chosenAssessment.title) }}<br>
        </p>
        <p lang="en">
        Course Code: {{ EditForm.code(value=chosenAssessment.module_code) }}<br>
        </p>
        <p lang="en">
            Deadline date: {{ EditForm.dueDate(value=chosenAssessment.deadline_date) }}<br>
        </p>
        <p lang="en">
            Description: {{ EditForm.description(value=chosenAssessment.description) }}<br>
        </p>
        <p lang="en">Completed: {{ EditForm.completed }}</p>
        <div class="row">
            <p lang="en"><div class="col-1"><input class="button" type="submit" value="Submit"></div> <div class="col-2"></div> <div class="col-3"><input class="button" type="button" value="Back" onclick="back()"></div></p>
        </div>
    </form>
{% endif %} 
{% endblock %}