{% extends "base.html" %}
{% block content %}
{% if valid == false %}
    <h1>Pick an assessment to change</h1>
    <!-- Prints out assessment id and name for all assessments in rows of 3 -->
    <div class="row">
        {% for a in assessments %}
            <div class="col">| Assessment {{ a.id }}: {{ a.title }} |</div>
            {% if a.id%3 == 0 %}
                <!-- The id's are always sequential, this creates a new row every 3 assessments -->
                </div>
                <div class="row">
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <!-- Takes an integer assessment id 
    becomes hidden once validated -->
    <form action="" method="post" name="new">
        {{ ChooseForm.hidden_tag() }}
        <p>
            Assessment number {{ ChooseForm.chooseAssessment }}
            <input type="submit" value="Submit">
        </p>
    </form>
{% endif %}
<!-- Hides the second part of the form unless a valid id is entered -->
{% if valid == true %}
    <h1>Make your changes and click submit</h1>
    <form action="" method="post" name="new">
        {{ EditForm.hidden_tag() }}
        <!-- hidden field allowing the chosen assessment to be edited -->
        <div class=""hidden>
            {{ EditForm.hidden(value=chosenAssessment.id)}}
        </div>
        <p>Enter new details into the corresponding fields</p>
        <p>
            Title: {{ EditForm.title(value=chosenAssessment.title) }}<br>
        </p>
        <p>
        Course Code: {{ EditForm.code(value=chosenAssessment.module_code) }}<br>
        </p>
        <p>
            Deadline date: {{ EditForm.dueDate(value=chosenAssessment.deadline_date) }}<br>
        </p>
        <p>
            Description: {{ chosenAssessment.description }} {{ EditForm.description }}<br>
        </p>
        <p>Completed: {{ EditForm.completed(value=chosenAssessment.completed) }}</p>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endif %} 
{% endblock %}