{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="left"><h1><u>Assessments</u></h1></div>
    </div>
    <!-- Prints each assessment onto the page in a table -->
    <table>
        <tr>
            <th>Title</th>
            <th>Module Code</th>
            <th>Due Date</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
        {% for a in assessments %}
            <tr>
                <td>{{ a.title }}</td>
                <td>{{ a.module_code }}</td>
                <td>{{ a.deadline_date }}</td>
                <td>{{ a.description }}</td>
                {% if a.completed %}
                    <td>Yes</td>
                {% else %}
                    <td>No</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <h3>Filter Results</h3>
    <!-- Dropdown form to refresh the assessments shown according to filter -->
    <form action="" method="post" name="new">
        {{ form.hidden_tag() }}
        <p>{{ form.filterChoice }}</p>
        <p><input class="button" type="submit" value="Submit"></p>
    </form>
{% endblock %}