{% extends "base.html" %}
{% block content %}
<h1>View and amend your basket</h1>
<div class="row">
{% for p in products %}
{% if (loop.index0 + 1)%4 == 0 %}
    </div>
    <div class="row">
{% endif %}
<div class="col-3">
    <div class="product">
        <div class="row">
            <div class="col">
                <img lang="en" src={{p.imgurl}} alt="{{ p.name }} Stock Image" width="150" height="150">
            </div>
            <div class="col">
                <h4 lang="en">{{ p.name }}</h4>
                <div class="row">
                    <div class="col">
                    <p lang="en" class="price" id="{{p.id}}price">£{{ p.price*quantities[loop.index0] }}</p>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <input class="quant minus" id="minus,{{p.id}},{{loop.index0}}" type="button" value="-">
                            </div>
                            <div class="col-2">
                                <p class="quantity" id="quant,{{p.id}},{{loop.index0}}">{{quantities[loop.index0]}}</p>
                            </div>
                            <div class="col-3">
                                <input class="quant plus" id="plus,{{p.id}},{{loop.index0}}" type="button" value="+">
                            </div>
                        </div>
                    </div>
                </div>
                <p lang="en"><input class="removeButton" id="remove,{{p.id}},{{loop.index0}}" type="button" value="Remove All"></p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
<div class="row">
    <div class="col-1">
        <p lang="en" class="total" id="total">Total: £{{total}}</p>
    </div>
    <div class="col-3">
        <p lang="en"><input class="button" id="order" type="submit" value="Order Now"></p>
    </div>
</div>
<p id="feedback"></p>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}" ></script>
<script src="static/basketScript.js"></script> 
{% endblock %}