{% extends "base.html" %}
{% block content %}

<h1>Welcome {{customer.username}} !</h1>
<h3>What are you looking for today?</h3>
<div class="row">
    <form lang="en" action="" method="post" name="new">
        {{ form.hidden_tag() }}
        <p lang="en">
            {{ form.filterChoice }}
            
            {{ form.sortChoice }}
         
        <input class="button" id="setFilters" type="submit" value="Set filters"></p>
    </form>
</div>
<div class="row">
    <!-- Display products in rows of 4 -->
     <!-- Reference for loop.index0: StackOverflow. [Online]. [Accessed 26/11/2024]. 
      Available from https://stackoverflow.com/questions/27035728/flask-cannot-import-enumerate-undefinederror-enumerate-is-undefined -->
    {% for p in products %}
        {% if (loop.index0 + 1)%4 == 0 %}
            </div>
            <div class="row">
        {% endif %}
        <div class="col-3">
            <div class="product">
                <div class="row">
                    <div class="col">
                        <img lang="en" src={{p.imgurl}} alt="{{ p.name }} Stock Image" width="150" height="150">
                    </div>
                    <div class="col">
                        <h4 lang="en">{{ p.name }}</h4>
                        <div class="row">
                            <div class="col">
                            <p lang="en" class="price" id="{{p.name}}price">£{{ p.price }}</p>
                            </div>
                            {% if p.count != 0 %}
                                <div class="col">
                                    <!-- Dropown allowing user to add multiple of one item to basket -->
                                    <select name="{{p.name}}" class='quantity' id="{{p.id}}">
                                        {% for i in range(p.count) %}
                                            <option value={{i+1}}>{{ i+1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                        {% if p.count == 0 %}
                            <p lang="en"><input class="outButton" id="out,{{p.id}}" type="button" value="Out Of Stock"></p>
                        {% else %}
                            <p lang="en"><input class="addButton" id="add,{{p.id}}" type="button" value="Add To Basket"></p>
                        {% endif %}
                    </div>
                </div>
                {% if p.count <= 10 %}
                    {% if p.count == 0 %}
                        <p lang="en" class="warning">Sorry, {{ p.name }} is out of stock!</p>  
                    {% else %}
                        <p lang="en" class="warning">Only {{ p.count }} left in stock!</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
<p id="feedback"></p>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}" ></script>
<script src="static/homeScript.js"></script> 
{% endblock %}